@page "/"
@inject NavigationManager NavigationManager

@using static Microsoft.AspNetCore.Components.NavigationManager

<PageTitle>Landing</PageTitle>

<div style="text-align: center;">
	<Button Color="ButtonColor.Primary" TooltipTitle="Proyectos" TooltipPlacement="TooltipPlacement.Top" @onclick="LoadProyectos"><Icon Name="IconName.Archive" Size="IconSize.x6" /></Button>
	<Button Color="ButtonColor.Primary" TooltipTitle="Alternativas" TooltipPlacement="TooltipPlacement.Top" @onclick="LoadAlternativas"><Icon Name="IconName.CardChecklist" Size="IconSize.x6" /></Button>
	<Button Color="ButtonColor.Primary" TooltipTitle="Criterios" TooltipPlacement="TooltipPlacement.Top" @onclick="LoadCriterios"><Icon Name="IconName.CardList" Size="IconSize.x6" /></Button>
	<Button Color="ButtonColor.Primary" TooltipTitle="Matriz" TooltipPlacement="TooltipPlacement.Top" @onclick="LoadMatriz"><Icon Name="IconName.FileEarmarkSpreadsheet" Size="IconSize.x6" /></Button>
	<Button Color="ButtonColor.Primary" TooltipTitle="Calcular Score" TooltipPlacement="TooltipPlacement.Top" @onclick="LoadScore"><Icon Name="IconName.Clipboard" Size="IconSize.x6" /></Button>
</div>
@code {

	private void LoadProyectos()
	{
		NavigationManager.NavigateTo("/Pages/Proyectos");
	}
	private void LoadAlternativas()
	{
		NavigationManager.NavigateTo("/Pages/Alternativas");
	}
	private void LoadCriterios()
	{
		NavigationManager.NavigateTo("/Pages/Criterios");
	}
	private void LoadMatriz()
	{
		NavigationManager.NavigateTo("/Pages/Matriz");
	}
	private void LoadScore()
	{
		NavigationManager.NavigateTo("/Pages/Score");
	}

}