@page "/"
@inject NavigationManager NavigationManager

@using static Microsoft.AspNetCore.Components.NavigationManager

<PageTitle>Landing</PageTitle>

<div style="text-align: center;">
	<h1>Bienvenido al sistema de apoyo de toma de desiciones</h1>
</div>
@code {

	

}