@page "/Pages/Proyectos"

<PageTitle>Proyectos</PageTitle>

<div class="row">
    <div class="col-md-1">
        <label for="id">ID</label>
    </div>
    <div class="col-md-1">
        <input type="text" id="id_text" class="form-control">
    </div>
</div>

<div class="row my-4">
    <div class="col-md-1">
        <label for="nombre">Nombre</label>
    </div>
    <div class="col-md-1">
        <input type="text" id="nombre_text" class="form-control">
    </div>
</div>

<div class="row my-8">
    <div class="col-md-1">
        <label for="objetivo">Objectivo</label>
    </div>
    <div class="col-md-1">
        <input type="text" style="width: 300px; height: 100px;" id="objevito_text" class="form-control">
    </div>
</div>

